{% comment %}
  This page represents the /collections/all?view=vendors page.
{% endcomment %}

{% capture header %}
{% section 'header' %}
{% endcapture %}
{% assign get_header = header | strip_newlines %}

{% if get_header contains '<!-- Breadcrumb: above slideshow -->' %}
{% include 'breadcrumb' %}
{% endif %}

{% section 'slideshow-page' %}

{% if get_header contains '<!-- Breadcrumb: below slideshow -->' %}
{% include 'breadcrumb' %}
{% endif %}

<div class="container{% if settings.width_bleed_to_edge %} bleed{% endif %} clearfix">

<div id="content" class="products">

{% section 'vendors' %}
{% comment %}{% include 'vendors' %}{% endcomment %}

</div>

</div>
