{% comment %}
  This is a contact page.
{% endcomment %}

{% capture header %}
{% section 'header' %}
{% endcapture %}
{% assign get_header = header | strip_newlines %}

{% if get_header contains '<!-- Breadcrumb: above slideshow -->' %}
{% include 'breadcrumb' %}
{% endif %}

{% section 'slideshow-page' %}

{% if get_header contains '<!-- Breadcrumb: below slideshow -->' %}
{% include 'breadcrumb' %}
{% endif %}

<div class="container contact{% if settings.width_bleed_to_edge %} bleed{% endif %} clearfix">

<div class="contactholder">

<article class="page" id="content" role="article" itemscope itemtype="http://schema.org/Article">

  <main>
  
    <header role="banner">
      <h1>{{ page.title }}</h1>
    </header>

    <div class="rte" itemprop="articleBody">

      {% section 'pagepart' %}

      {% assign heading = 'hidden' %}
          
      {% section 'forms' %}

      {% section 'map' %}   

      {% comment %}
      {% endcomment %} 
      
    </div> 

  </main>
  
</article>

<!-- NOTE: Sidebar with separator replacement impacts on page layout, disable if needed -->
{% if settings.sidesbar_pages %}
{% include 'sidebars' %}
{% endif %}

  {% comment %}

    {% section 'page' %} 

    {% assign heading = 'hidden' %}
        
    {% section 'forms' %}

    {% section 'map' %}

  {% endcomment %}

</div>

</div>
